#pricing
    padding: 40px 0
    .textbox
        width: 600px
        .bigicon
            i
                font-size: 28px
                color: #a2c0be
        h1
            font-weight: 700
            font-size: 30px
            margin-top: 20px 
        h3
            font-size: 20px
            color: #968f8f
            line-height: 1.4
            margin: 20px 0 30px
    .box
        width: 350px
        color: #ffffff
        background-color: #a2c0be
        padding: 50px 30px 
        text-align: center
        h2
            font-size: 25px
        h4
            font-size: 30px
            margin-top: 30px
        li
            margin-top: 30px
            display: flex
            justify-content: center  
            p
                font-size: 18px
                margin-left: 10px  
        .btn
            padding: 10px 35px
            margin: 30px 0 0
            border-radius: 30px
            background-color: #5a6268
            h5
                color: #ffffff
            &:hover
                background-color: #5b5e61
    .PREMIUM
            background-color: #343a40
            .btn
                background-color: #a2c0be
                &:hover
                    background-color: #000000
    @media screen and ( min-width: 768px )
        .bigicon
            i
                font-size: 32px
        h1
            font-size: 36px
        
                
    
