body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

#carefor {
  padding: 80px 0 50px;
}
#carefor .textbox {
  padding: 0;
  text-align: center;
}
#carefor .textbox h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
#carefor .textbox h4 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}
#carefor .imgbox {
  width: 250px;
}
@media screen and (min-width: 768px) {
  #carefor .textbox {
    padding: 0 20px;
    text-align: start;
  }
  #carefor .textbox h1 {
    font-size: 65px;
  }
  #carefor .textbox h4 {
    font-size: 27px;
  }
  #carefor .imgbox {
    width: 350px;
  }
}

#welcome {
  padding: 40px 0;
}
#welcome .textbox {
  padding: 80px;
}
#welcome .textbox h1 {
  font-size: 30px;
  font-weight: 700;
}
#welcome .textbox h3 {
  color: #868686;
  font-size: 20px;
  margin: 20px 0 40px;
}
#welcome .textbox h2 {
  font-size: 33px;
}
#welcome .textbox h6 {
  font-size: 18px;
}
#welcome .textbox h2, #welcome .textbox h6 {
  margin: 15px 0;
}
#welcome .textbox .btn {
  padding: 10px 30px;
  background-color: #a7b59f;
  color: white;
  border-radius: 20px;
}
#welcome .wid {
  width: 580px;
}
#welcome .txtright {
  text-align: right;
}

#aboutus {
  padding: 40px 0;
}
#aboutus .textbox {
  padding-bottom: 40px;
}
#aboutus .textbox .bigicon i {
  font-size: 28px;
  color: #a2c0be;
  margin-bottom: 20px;
}
#aboutus .textbox h1 {
  font-size: 30px;
  font-weight: 700;
}
#aboutus .textbox h3, #aboutus .textbox p {
  color: #7b7a76;
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.6;
}
#aboutus .textbox p {
  color: #7a959a;
  font-size: 18px;
  margin-bottom: 25px;
}
#aboutus .textbox ul li {
  display: flex;
  padding-top: 20px;
}
#aboutus .textbox ul li .icon {
  margin-right: 15px;
  color: #a2c0be;
}
#aboutus .textbox ul li h4 {
  font-size: 20px;
  color: #949494;
}
@media screen and (min-width: 768px) {
  #aboutus .textbox {
    padding: 20px 50px 0 0;
  }
  #aboutus .textbox h1 {
    font-size: 40px;
  }
  #aboutus .textbox h3 {
    font-size: 22px;
  }
  #aboutus .textbox p {
    font-size: 20px;
  }
  #aboutus .imgbox {
    width: 450px;
  }
}
#aboutus h1:hover, #aboutus h3:hover, #aboutus h4:hover, #aboutus p:hover {
  cursor: auto;
}

#trainers {
  padding: 40px 0;
}
#trainers h1 {
  font-weight: 700;
  font-size: 38px;
}
#trainers h3, #trainers h4 {
  font-weight: 300;
  font-size: 20px;
  color: #a8a8a8;
  margin: 20px 0;
  line-height: 1.4;
}
#trainers .box {
  margin: 0 5px;
}
#trainers .box .textbox {
  padding: 15px;
}
#trainers .box .textbox h2 {
  font-weight: 300;
  font-size: 25px;
  padding: 20px 0 0;
}
#trainers .box .textbox ul {
  display: flex;
  flex-direction: row;
}
#trainers .box .textbox ul li {
  margin: 0 10px;
  background-color: #d4cece;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#trainers .box .textbox ul li .icon {
  margin: -7px;
}
#trainers .box .textbox .wid {
  width: 580px;
  padding: 0;
}
#trainers .box .textbox .imgbox img {
  width: 350px;
}

#pricing {
  padding: 40px 0;
}
#pricing .textbox {
  width: 600px;
  padding-bottom: 30px;
}
#pricing .textbox .bigicon i {
  font-size: 28px;
  color: #a2c0be;
}
#pricing .textbox h1 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}
#pricing .textbox h3 {
  font-size: 20px;
  color: #968f8f;
  line-height: 1.4;
  margin: 20px 0;
}
#pricing .box {
  width: 350px;
  color: #ffffff;
  background-color: #a2c0be;
  padding: 50px 30px;
  text-align: center;
}
#pricing .box h2 {
  font-size: 25px;
}
#pricing .box h4 {
  font-size: 30px;
  margin-top: 30px;
}
#pricing .box li {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#pricing .box li p {
  font-size: 18px;
  margin-left: 10px;
}
#pricing .box .line p {
  text-decoration: line-through;
  opacity: 0.5;
}
#pricing .box .btn {
  padding: 10px 35px;
  margin: 30px 0 0;
  border-radius: 30px;
  background-color: #5a6268;
}
#pricing .box .btn h5 {
  color: #ffffff;
}
#pricing .box .btn h5:hover {
  cursor: pointer;
}
#pricing .box .btn:hover {
  background-color: #000000;
}
#pricing .PREMIUM {
  background-color: #343a40;
}
#pricing .PREMIUM .btn {
  background-color: #a2c0be;
}
@media screen and (min-width: 768px) {
  #pricing .textbox .bigicon i {
    font-size: 32px;
  }
  #pricing .textbox h1 {
    font-size: 36px;
  }
}
#pricing h1:hover, #pricing h2:hover, #pricing h3:hover, #pricing h4:hover, #pricing p:hover {
  cursor: auto;
}

#questions {
  padding: 50px 0;
}
#questions .wid {
  width: 600px;
}
#questions .bigicon i {
  font-size: 28px;
  color: #a2c0be;
}
#questions h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0 20px;
  line-height: 1.5;
}
#questions h3 {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.4;
  color: #968f8f;
}
#questions .textbox {
  padding: 0 40px;
  margin-bottom: 30px;
}
#questions .textbox h2 {
  font-size: 24px;
  margin-left: 10px;
}
#questions .textbox .minibox {
  margin-top: 20px;
}
#questions .textbox .minibox .icon i {
  color: #cccccd;
  font-size: 22px;
}
#questions .textbox p {
  font-size: 18px;
  margin: 30px 0 0 30px;
  color: #968f8f;
  line-height: 1.5;
}
#questions .textbox ul li {
  margin: 30px 0 0;
  display: flex;
}
#questions .textbox ul li .icon i {
  font-size: 22px;
  color: #cccccd;
}
@media screen and (min-width: 992px) {
  #questions .bigicon i {
    font-size: 32px;
  }
  #questions h1 {
    font-size: 36px;
  }
  #questions .textbox {
    margin-bottom: 0px;
  }
}
#questions h1:hover, #questions h2:hover, #questions h3:hover, #questions p:hover {
  cursor: auto;
}

#dogger {
  padding: 40px 0;
}
#dogger .wid {
  width: 600px;
}
#dogger .bigicon i {
  font-size: 28px;
  color: #a2c0be;
}
#dogger h1 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
#dogger h3 {
  color: #968f8f;
  font-size: 20px;
  margin: 20px 0 60px;
  line-height: 1.4;
}
#dogger .box {
  display: flex;
  flex-direction: column;
}
#dogger .box .imgbox {
  width: 400px;
  margin-bottom: 30px;
}
#dogger .box .textbox h2 {
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
#dogger .box .textbox h4 {
  color: #8e8686;
  font-size: 18px;
}
#dogger .box .textbox p {
  color: #948787;
  line-height: 1.5;
  font-size: 18px;
}
#dogger .box .textbox h5 {
  font-size: 18px;
  color: #799a73;
  margin-bottom: 40px;
}
#dogger .box .textbox h5:hover {
  color: #556b51;
}
#dogger .box .textbox p, #dogger .box .textbox h4, #dogger .box .textbox h5 {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  #dogger .bigicon i {
    font-size: 32px;
  }
  #dogger h1 {
    font-size: 36px;
  }
  #dogger .box .imgbox {
    width: 300px;
  }
  #dogger .box .textbox {
    margin-left: 0px;
  }
}
@media screen and (min-width: 992px) {
  #dogger .box {
    flex-direction: row;
  }
  #dogger .box .textbox {
    margin-left: 20px;
  }
}
#dogger h1:hover, #dogger h2:hover, #dogger h3:hover, #dogger h4:hover, #dogger h5:hover, #dogger p:hover {
  cursor: auto;
}

#services {
  padding: 40px 0;
}
#services h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0;
}
#services h3 {
  font-size: 20px;
  color: #968f8f;
  line-height: 1.4;
}
#services .textbox {
  padding: 30px;
}
#services .textbox h2 {
  font-size: 25px;
  color: #000000;
  margin-top: 20px;
}
#services .textbox p {
  margin-top: 30px;
  font-size: 18px;
  color: #968f8f;
  line-height: 1.4;
}
#services .textbox .icon i {
  font-size: 60px;
}
#services .wid {
  width: 600px;
  padding: 0px;
}
#services .wid .bigicon i {
  font-size: 28px;
  color: #a2c0be;
}
@media screen and (min-width: 768px) {
  #services .wid .bigicon i {
    font-size: 32px;
  }
  #services .wid h1 {
    font-size: 36px;
  }
}
#services h1:hover, #services h2:hover, #services h3:hover, #services p:hover {
  cursor: auto;
}/*# sourceMappingURL=style.css.map */